<div class="container border space">
<!-- <div class="border"> -->
    <div class="row">
        <div class="col sm-12" style="background-color: skyblue ;font-size: 30px">
            Update Leads
        </div>


    </div><br>

    <div class="row">

        <div class="col-sm-6">
            <div class="form-group">
                <label for="firstname">*First Name:</label><br>
                <input type="text" name="fn" [(ngModel)]="firstname" id="firstname" class="form-control" ><br>
                <h3>{{firstname}}</h3>
                <label for="lastnames">*Last Name:</label><br>
                <input type="text" name="ln" [(ngModel)]="lastnames" id="lastnames" class="form-control"><br><br>
                <h4>{{lastnames}}</h4>
                <label for="comments">*Comment:</label><br>

                <textarea ></textarea>

                <h2 style="font-size:18px">*Select Rating </h2>
                superhot<input type="radio" name="climate" value="superhot"><br>
                hot<input type="radio" name="climate" value="hot"><br>
                lukewarm<input type="radio" name="climate" value="lukewarm"> <br>
                cold<input type="radio" name="climate" value="cold"><br><br>

            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="email">*Email:</label><br>
                <input type="email" name="email" [(ngModel)]="email" id="email" class="form-control"><br>
                <h4>{{email}}</h4>
                <label for="phonenumber">*Mobile:</label><br>
                <input type="text" name="phno" [(ngModel)]="phonenumber" id="phonenumber" class="form-control"><br><br>
                <h4>{{phonenumber}}</h4>


                
                <input type="radio" name="eligibility" value="Ordinary">Ordinary<br>
                <input type="radio" name="eligibility" value="Qualified">Qualified<br>
                <input type="radio" name="eligibility" value="Disqualified"> Disqualified<br>
                <input type="radio" name="eligibility" value="Followup"> Followup<br><br>

                <input type="button" style="margin:60px" size="100" value="Reset" class="btn btn-primary btn-lg"
                    onclick="window.location.reload()">
                <input type="button"  id="save" (click)="saveForm()" size="100" value="Save" class="btn btn-primary btn-lg" >
               



            </div>



        </div></div>

